@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #1f242d;
    --main-color: #323946;
    --secondary-color: #7cf03d;
    --white-color: #fff;
    --disabled-color: #fff3;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--white-color);
}

header{
    background-color: var(--bg-color);
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 700;
}

nav a{
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: color 0.3s ease;
}

nav a:hover,
nav a.active{
    color: var(--secondary-color);
}

#menu-icon{
    display: none;
    font-size: 2.5rem;
    color: var(--white-color);
    cursor: pointer;
}